# Sistema Operacional / Arquivos Temporários
.DS_Store
Thumbs.db
desktop.ini
*.tmp
*.log

# Editores & IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Backups e rascunhos
*.bak
*.swp
*~

# Imagens brutas originais locais (já processadas e otimizadas em assets/images/)
assets/imagens reais/
